/**
 * ----------------------------------------------------------------------------
 * Frontend CSS
 * ----------------------------------------------------------------------------
 */

.wp-block-nelio-testimonial-block ul,
.wp-block-nelio-testimonial-block li {
	list-style: none;
	margin: 0; padding: 0;
}
.wp-block-nelio-testimonial-block {
	display: flex;
	align-items: stretch;
	background-color: #ffffff;
	margin: 12px 0px;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
}
.wp-block-nelio-testimonial-block .nelio-testimonial-image {
	display: flex;
	align-items: center;
	background-size: cover;
	background-position: center;
	width: 60%;
}
.wp-block-nelio-testimonial-block .nelio-testimonial-image img {
	opacity: 0;
	margin: -9999px;
}
.wp-block-nelio-testimonial-block .nelio-testimonial-content {
	width: 100%;
	align-self: center;
	padding: 18px;
	box-sizing: border-box;
}
.wp-block-nelio-testimonial-block .nelio-testimonial-content .nelio-testimonial-name {
	margin: 0px;
	padding: 0px;
	font-weight: bold;
}
.wp-block-nelio-testimonial-block .nelio-testimonial-content .nelio-testimonial-position {
	color: rgba(0, 0, 0, 0.4);
	text-transform: uppercase;
	margin: 0px;
	padding: 8px 0px;
}
.wp-block-nelio-testimonial-block .nelio-testimonial-content p {
	line-height: 1.6;
	margin: 0px;
	padding: 8px 0px;
}
.wp-block-nelio-testimonial-block .nelio-testimonial-contact {
	padding-top: 12px;
}
.wp-block-nelio-testimonial-block .nelio-testimonial-contact:empty {
	display: none;
}
.wp-block-nelio-testimonial-block .nelio-testimonial-contact .nelio-contact-link {
	color: rgba(0, 0, 0, 0.24);
	padding: 6px 12px;
	font-size: 18px;
	text-decoration: none;
	border-left: 1px solid rgba(0, 0, 0, 0.12);
	border-bottom: none;
	box-shadow: none;
}
.wp-block-nelio-testimonial-block .nelio-testimonial-contact .nelio-contact-link:hover {
	color: rgba(0, 0, 0, 1);
}
.wp-block-nelio-testimonial-block .nelio-testimonial-contact .nelio-contact-link:first-child {
	border: none;
}
